@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Lobster+Two&display=swap');

body {
    font-family: 'arial', cursive;
    align-content: center;
    background-color: lightgrey;
    text-align: center;
}
.container {
    max-width: 2000px;
    /* max-height: 1280px; */
    margin: 0 auto;
}
*{
    padding: 0px;
    margin: 0px;
}
/* Début de la barre de Navigation ********************************************************************************************** */
.navp1{
    position: fixed;
    background-color: grey;
    color: palegreen;
    font-family: 'lobster', cursive;
    padding-bottom: 7px;
    transition: 0s;
    top: 0;
    width: 100%;
    z-index: 1000;
    left: 0;
    right: 0;
}
.navp1 a.active {
    color: pink;
}
nav a:hover{
    transition: 0.1s;
    opacity: 100% ;
    color: pink;
}
nav a{
    text-decoration: none;
    margin: auto;
    color:white;
    padding: 10px;
    font-family: 'arial', cursive;
    align-items: center;
}
nav ul li {
    list-style: none;
    /* line-height:44px; */
    display: inline-block;
    /* background-color:; */
}

nav ul li a {
    padding:10px;
    text-decoration:none;
    list-style: none;
}
nav ul li ul { 
    display:none; /* Rend le menu déroulant caché par défaut */
} 
nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index:99999;
    display: list-item;
    position: absolute ;
    list-style: none;
    background-color: grey;
    background: rgba(80,80,80,0.5);
    width: 250px;
    padding: auto; 
}
nav ul li:hover ul li {
    float:left;
}
/* Fin de la barre de Navigation ********************************************************************************************** */
h1{
    font-family: 'arial', cursive;
    font-size: 35px;
    margin-top: 70px;
    background-color: grey;
    color: white;
    position: absolute;
    margin-left: 30px;
    padding: 5px;
}
h3{
    background-color: grey;
    color: white;
    font-size: 30px;
    font-family: 'arial', cursive;
    margin-bottom: 20px;
}
.tab{
    font-family: 'arial', cursive;
    background-color: black;
    color: white;
    border: solid;
    border-radius: 20px;
    padding: 5px;
    font-size: 25px;
    text-decoration: none;
}
.tab:hover{
    color: pink;
}
.abc{
    text-decoration: none;
    color:white;
}
.cba{
    margin-top: 117px;
    margin-bottom: 10px;
}
h4{
    font-family: 'arial', cursive;
    font-size: 23px;
    margin-top: 10px;
    text-align: center;
    background-color: pink;
}
.ptexte{
    color: black;
    font-size: 17px;
    font-family: 'arial', cursive;
    margin-bottom: 40px;
    margin-top: 30px;
}
.ap1{
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    opacity: 70%;
    font-family: 'arial', cursive;
    font-size: 20px;
    height: 430px;
    width: 600px;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
}
.ap1:hover{
    transition: 0.1s;
    opacity: 100% ;
}
.ap2{
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    opacity: 70%;
    font-family: 'arial', cursive;
    font-size: 20px;
    height: 430px;
    width: 600px;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
}
.ap2:hover{
    transition: 0.1s;
    opacity: 100% ;
}
.ap3{
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    opacity: 70%;
    font-family: 'arial', cursive;
    font-size: 20px;
    height: 430px;
    width: 600px;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
}
.ap3:hover{
    transition: 0.1s;
    opacity: 100% ;
}
.lienpptx{
    text-decoration: none;
    color:white;
    background-color: black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'arial', cursive;
}
.lienpptx:hover{
    color: pink;
}
.ap{
    margin-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}
.b2{
    margin-bottom: 0px;
    padding-top:0;
    margin-bottom: 0px;
}
img{
    position: absolute;
    right: 0px;
    z-index: -1;
    opacity: 100%;
}
/*début css animation slide!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.mySlides{
    display: none;
  }
  .slideshow-container img {
    vertical-align: middle;
    margin-top: 25px;
    height: 150px;
    width: px;

  }
  .slideshow-container {
    max-width: 920px;
    position: relative;
    right: 350px;
    margin: auto;
  }
  /* Boutons next & previous */
  .prev,
  .next {
    cursor: pointer;
    position: relative;
    top: 60px;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position de "next button" à la droite ou gauche */
  .next {
    right: -500px;
    left: px;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    right: -185px;
    left: px;
    border-radius: 3px 0 0 3px;
  }


  /* En survol, ajoutez la couleur noire de l'arrière-plan avec un peu see-through */
  .prev:hover,
  .next:hover {
    background-color: grey;
  }
  /* Caption*/
  .text a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'arial', cursive;
    font-size: 20px;
    padding: 8px 12px;
    position: relative;
    top: -10px;
    bottom: 8px;
    left: 340px;
    width: 175%;
    text-align: center;
  }

  .text a:hover{
    transition: 0.1s;
    opacity: 100% ;
    color: pink;
    background-color: grey;
    border-radius: 20px ;
    padding: 7px;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  /* On smaller screens, decrease text size */
  /* @media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px;
    }
  } */

/*fin css animation slide!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/




.myriam{
    text-align: left;
    font-size: 27px;
    padding-bottom: 10px;
   
}
.myriam a{
    padding: 10px;
}
footer {
    background-color: #FFFb;
    color: black;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    margin-top: 150px;
    bottom: 0;
}