@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Lobster+Two&display=swap');


body {
    font-family: 'Lobster two', cursive;
    align-content: center;
    opacity: 95%;
    text-align: center;
    margin-top: -13px;

}
*{
    padding: 0px;
    margin: 0px;
}

.navp1{
    height: 117px;
    background-color: grey;
    color: aliceblue;
    font-family: 'lobster', cursive;
    padding-top: 70px;
    transition: 0s;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}


nav a:hover{
    transition: 0.1s;
    opacity: 100% ;
    color: pink;
}

nav a{
    text-decoration: none;
    margin: auto;
    color:white;
    padding: 10px;
    font-family: 'Baskerville', cursive;
    align-items: center;
}

.myriam{
    margin: 20px;
    font-size: 60px;
    padding-bottom: 7px;
    margin-top: -10px;
}

li{
list-style:none;
color:#FFF;
padding: px;
text-decoration:none;
}

nav ul li {
    list-style: none;
    /* line-height:44px; */
    display: inline-block;
    /* background-color:; */
}

nav ul li a {
    padding:10px;
    text-decoration:none;
    list-style: none;
}

/* li a:hover {
    border-bottom:3px #FFF solid;
} */
    
nav ul li ul { 
    display:none; /* Rend le menu déroulant caché par défaut */
} 
     
nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index:99999;
    display: list-item;
    position: absolute ;
    list-style: none;
    background-color: grey;
    background: rgba(80,80,80,0.5);
    width: 250px;
    padding: auto; 
}
     
nav ul li:hover ul li {
    float:left;
}

.abc{
    text-decoration: none;
    color:white;
    
}

.cba{
    background-color: black;
    border: solid;
    border-radius: 20px;
    /* border-color: grey; */
    margin-left: 430px;
    margin-right: 430px;
    margin-bottom: 10px;
    /* opacity: 80%; */
    /* transition: 0s; */
}
.cba:hover{
    /* transition: 1s;
    opacity: 100% ; */
    /* width: 575px;
    margin-left: 356px; */
    /* padding-top: 10px;
    padding-bottom: 10px; */
    color: pink;

}

.introap{
    color: white;
    font-size: 17px;
    font-family: 'Baskerville', cursive;
    margin-bottom: 40px;
    margin-top: 30px;
}

.ap1{
    /* padding-top: px; */
    /* border: solid; */
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    opacity: 70%;
    /* transition: 0.1s; */
    font-family: 'Baskerville', cursive;
    font-size: 20px;
    height: 350px;
    width: 600px;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}

li{
    color: black;
}

.ap1:hover{
    transition: 0.1s;
    opacity: 100% ;
}
.ap2:hover{
    transition: 0.1s;
    opacity: 100% ;
}
.ap2{
    /* padding-top: px; */
    /* border: solid; */
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    opacity: 70%;
    /* transition: 1s; */
    font-family: 'Baskerville', cursive;
    font-size: 20px;
    height: 350px;
    width: 600px;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}

.ap{
    /* border: solid; */
    /* border-radius: 20px; */
    margin-top: 20px;
    padding-bottom: 20px;
    /* background-color: grey; */
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}

.titreap{
    background-color: grey;
    color: white;
    font-size: 30px;
    font-family: 'Lobster two', cursive;
    margin-bottom: 20px;
}

h2{
    font-family: 'Lobster two', cursive;
    margin-bottom: 30px;
    background-color: grey;
    color: white;
    font-size: 50px;
    position: relative;
    top: 22px;
}

h4{
    font-family: 'Lobster two', cursive;
    font-size: 23px;
    margin-top: 10px;
}

img{
    position: absolute;
    right: 0px;
    z-index: -1;
    opacity: 100%;
}
footer{
    margin-top: 83px;
}

.b2{
    margin-top: 200px;
    /* border:solid ; */
    /* border-width: 0.1px;
    border-color: grey; */

}

.lienpptx{
    text-decoration: none;
    color:white;
    background-color: black;
    border-radius: 20px;
    padding-left: 43px;
    padding-right: 43px;
    font-family: 'Lobster two', cursive;
}

.lienpptx:hover{
    color: pink;
}

ul{
    margin-bottom: 20px;
}