
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');


body {
    font-family: 'arial', cursive;
    align-content: center;
    text-align: center;

}
video{
    position: absolute;
    right: 0px;
    z-index: -1;
    opacity: 95%;
    top:0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

*{
    padding: 0px;
    margin: 0px;
}

/* Début de la barre de Navigation ********************************************************************************************** */
.navp1{
    position: fixed;
    background-color: grey;
    color: palegreen;
    font-family: 'lobster', cursive;
    padding-bottom: 7px;
    transition: 0s;
    top: 0;
    width: 100%;
    z-index: 1000;
    left: 0;
    right: 0;
}
.navp1 a.active {
    color: pink;
}
nav a:hover{
    transition: 0.1s;
    opacity: 100% ;
    color: pink;
}
nav a{
    text-decoration: none;
    margin: auto;
    color:white;
    padding: 10px;
    font-family: 'arial', cursive;
    align-items: center;
}
nav ul li {
    list-style: none;
    /* line-height:44px; */
    display: inline-block;
    /* background-color:; */
}

nav ul li a {
    padding:10px;
    text-decoration:none;
    list-style: none;
}
nav ul li ul { 
    display:none; /* Rend le menu déroulant caché par défaut */
} 
nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index:99999;
    display: list-item;
    position: absolute ;
    list-style: none;
    background-color: grey;
    background: rgba(80,80,80,0.5);
    width: 250px;
    padding: auto; 
}
nav ul li:hover ul li {
    float:left;
}
/* Fin de la barre de Navigation ********************************************************************************************** */

.myriam{
    text-align: left;
    font-size: 27px;
    padding-bottom: 10px;
   
}
.myriam a{
    padding: 10px;
}
li{
list-style:none;
color:#FFF;
/* padding: px; */
text-decoration:none;
}


h1{
    background-color: grey; 
    margin-top: 200px;
    color: white;
    font-size: 50px;
}

.logo{
    height: 154.09 px;
}


.id{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px;
    width: 500px;
    margin: auto;
    margin-top: 150px;
    border-radius: 20px;
    opacity: 70%;
    transition: 1s;
    background-color: grey;
}

.titreid{
    align-items: center;
    

}

.id:hover{
    transition: 1s;
    opacity: 100% ;
}

.liens img{
    justify-content: space-between;
    padding: 2px;
    border-radius: 50px;
    width: 50px;

}
.docst{
    border-radius: 50%;
}
/* footer{
    margin-top: 350px;
    color: white;
}
footer a {
    text-decoration: none;
    color: black;
    background-color: #FFFb;
    border-radius: 20px;
    padding: 5px;
} */
footer {
    background-color: #FFFb;
    color: black;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 5000px;
    max-height: 1200px;
    margin: 0 auto;
}

.liens img{
    justify-content: space-between;
    padding: 2px;
    border-radius: 50px;
    width: 50px;
    margin-top: 10px;

}

.liens{
    margin-top: 500px;
}