@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Lobster+Two&display=swap');

body {
    font-family: 'arial', cursive;
    align-content: center;
    background-color: lightgrey;
    text-align: center;
}
*{
    padding: 0px;
    margin: 0px;
}
.myriam{
    text-align: left;
    font-size: 27px;
    padding-bottom: 10px;
}
.myriam a{
    padding: 10px;
}
/* Début de la barre de Navigation ********************************************************************************************** */
.navp1{
    position: fixed;
    background-color: grey;
    color: palegreen;
    font-family: 'lobster', cursive;
    padding-bottom: 7px;
    transition: 0s;
    top: 0;
    width: 100%;
    z-index: 1000;
    left: 0;
    right: 0;
}
.navp1 a.active {
    color: pink;
}
nav a:hover{
    transition: 0.1s;
    opacity: 100% ;
    color: pink;
}
nav a{
    text-decoration: none;
    margin: auto;
    color:white;
    padding: 10px;
    font-family: 'arial', cursive;
    align-items: center;
}
nav ul li {
    list-style: none;
    /* line-height:44px; */
    display: inline-block;
    /* background-color:; */
}

nav ul li a {
    padding:10px;
    text-decoration:none;
    list-style: none;
}
nav ul li ul { 
    display:none; /* Rend le menu déroulant caché par défaut */
} 
nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index:99999;
    display: list-item;
    position: absolute ;
    list-style: none;
    background-color: grey;
    background: rgba(80,80,80,0.5);
    width: 250px;
    padding: auto; 
}
nav ul li:hover ul li {
    float:left;
}
/* Fin de la barre de Navigation ********************************************************************************************** */
h1{
    font-family: 'arial', cursive;
    font-size: 35px;
    margin-top: 70px;
    background-color: grey;
    color: white;
    position: absolute;
    margin-left: 30px;
    padding: 5px;
}
h3{
    font-family: "arial", cursive;
    margin-top: 97px;
    margin-bottom: 10px;
    font-size: 35px;
    text-decoration: underline overline darkcyan ;    
}
.vjuintro{
    font-size: 17px;
    font-family: "arial", cursive;
    color: black ;
}

/* .vju:hover{
    opacity: 100%;
    transition: 1s;
} */

h6{
    font-family: 'Lobster two', cursive;
    font-size: 17px;
}


.vjup1{
    font-family: 'arial', cursive;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    margin-bottom: px;
    margin-top: 20px;
}

.p1{
    display: flex;
    
}

.p11{
    margin-right: 20px;
}

.cnil{
    height: 200px;
    width: 400px;
    border-radius: 20px;
    display: block;
    margin: auto;
}
.t1{
    font-weight: bold;
}
.dp2 img{
    height: 300px;
    width: 350;
    border-radius: 20px;
}
.dp2{display: flex;}

.p2et3{
    margin-top: 30px;
    padding-right: 20px;
}

.sources{
    position: absolute;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 15px;
    background-color: grey;
    font-family: 'arial', cursive;
}
footer {
    background-color: #FFFb;
    color: black;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    bottom: 0;
    margin-top: 70px;
}